PngImage_1 RCDATA "Imagens\\Mesas\\1-livre.png"
PngImage_2 RCDATA "Imagens\\Mesas\\1-ocupada.png"
PngImage_3 RCDATA "Imagens\\Mesas\\2-livre.png"
PngImage_4 RCDATA "Imagens\\Mesas\\2-ocupada.png"
PngImage_5 RCDATA "Imagens\\Mesas\\3-livre.png"
PngImage_6 RCDATA "Imagens\\Mesas\\3-ocupada.png"
PngImage_7 RCDATA "Imagens\\Mesas\\4-livre.png"
PngImage_8 RCDATA "Imagens\\Mesas\\4-ocupada.png"
